* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, #000, #343434);
}

.header {
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background-size: 100%;

    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 1rem;
    font-weight: 900;
    text-shadow: #cc6600;
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchField {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 45px;
}

input {
    padding: 10px 15px;
    margin-left: 15px;
}
button {
    padding: 0 10px;
    font-size: 18px;
    border: 1px solid #cc6600;
    border-radius: 25px;

    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

#moreButton {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.modal-info {
    position: relative;
}
#x {
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 5px;
    background: linear-gradient(45deg, black, transparent);
    padding: 5px;
    font-weight: 900;
    color: white;
    margin: 0;
    border-radius: 20px;
}
#x:hover {
    color: red;
    border-bottom: 2px solid red;
}
.modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: rgba(36, 36, 36, 0.74);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    gap: 10px;
}
.image_div {
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.board {
    position: relative;
    width: 100%;
    height: 100%;
}
.text {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.74);
    margin: 0;
    color: aliceblue;
}

.modal_box img {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border: dotted black 3px;

    border-radius: 20px;
}
.modal_box h3,
p {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 14px;
}
.author {
    color: firebrick;
    text-shadow: 0px 0px grey;
}
span {
    color: firebrick;
    text-shadow: 0px 0px grey;
    font-size: 12px;
    margin-left: 10px;
}
.modal_box {
    background: linear-gradient(45deg, black, transparent);
    color: aliceblue;
    border-radius: 5px;
    max-height: 100vh;
    overflow: auto;
}

.comment_input {
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: aliceblue;
    background: transparent;
    margin-bottom: 10px;
}
.comment_btn {
    border: none;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    margin-left: 10px;
}
.comment_btn:hover {
    color: blue;
    border-bottom: 3px solid blue;
}
.comment-input-container {
    padding: 15px;
}

.comment_box {
    background: linear-gradient(45deg, gray, transparent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;

    position: relative;
}

.comment_box span {
    color: #000;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
}
.comment_box p {
    margin-left: 10px;
}
time {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

@media (max-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button {
        width: 100px;
        margin-left: 25px;
    }
    .searchField {
        flex-direction: column;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 200px;
        margin-left: 25px;
        font-size: 2.5em;
    }
    .searchField {
        flex-direction: column;
        margin: 10px;
    }
    input {
        font-size: 2.5em;
    }
    p,
    .comment_box span,
    h3 {
        font-size: 2.5em;
    }
    time {
        display: none;
    }
    .modal_box img {
        width: 100%;
        height: 700px;
    }
}
